# to ignore folders
Calculator/node_modules/
intro-to-node/node_modules/
my-express-server/node_modules/
Newsletter-Signup/node_modules/
Template-EJS-v1/node_modules/
Blog-Development/node_modules/
FruitsProject/node_modules/
ToDoList-using DB/node_modules/